body {
     font-family: Arial, sans-serif;
     background-color: #f0f0f0;
     margin: 0;
     padding: 0;
   }
   
   header {
     background-color: #ffcc00;
     padding: 20px;
     text-align: center;
   }
   
   h1 {
     margin: 0;
     font-size: 36px;
     color: #ffffff;
   }
   
   nav ul {
     list-style-type: none;
     padding: 0;
     margin: 0;
     background-color: #333333;
     overflow: hidden;
   }
   
   nav li {
     float: left;
   }
   
   nav li a {
     display: block;
     color: #ffffff;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
   }
   
   nav li a:hover {
     background-color: #ffcc00;
     color: #333333;
   }
   
   main {
     padding: 20px;
   }
   
   #featured {
     background-color: #ffffff;
     padding: 20px;
     text-align: center;
   }
   
   h2 {
     margin-top: 0;
     color: #333333;
   }
   
   .play-button {
     display: inline-block;
     background-color: #ffcc00;
     color: #ffffff;
     padding: 10px 20px;
     text-decoration: none;
     margin-top: 10px;
   }
   
   #latest-videos {
     background-color: #ffffff;
     padding: 20px;
   }
   
   .video {
     display: inline-block;
     margin: 10px;
   }
   
   .video img {
     width: 200px;
   }
   
   footer {
     background-color: #333333;
     padding: 20px;
     color: #ffffff;
     text-align: center;
   }